/node_modules/
/public/build/

.DS_Store

src/visualizers/*.js
src/illustrations/*.js
src/sections/**/*.ts
src/sections/**/*.js

*.js.js
*.js.ts
*.jsx

docs/css
docs/illustrations/**/build
docs/illustrations/**/*.png
docs/js
docs/src
docs/dependencies.json
docs/*.html