@import url(https://fonts.googleapis.com/css?family=Nunito:400,600|Sanchez:400,400i|Cousine:400;700);

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}