.container {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

:global(html) {
    width: 100%;
    height: 100%;
    overflow: auto;
}

:global(body) {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}